.modules-right *{
    background: transparent;
    border-radius: 2.5px;
}

#pulseaudio,
#memory,
#cpu{
    all: unset;
    padding: 0px;
    color: @foreground;
}

#tray,
#clock,
#custom-weather{
    color: @foreground;
}